In [1]:
# import the dependencies
import pandas as pd
import gmaps
import requests
# import api key
from config import g_key

In [2]:
#store the CSV you saved creasted in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-04-03 10:25:53,-53.1500,-70.9167,44.71,81,0,20.71
1,1,Ribeira Grande,PT,2022-04-03 10:25:54,38.5167,-28.7000,63.00,82,40,16.11
2,2,Ilebo,CD,2022-04-03 10:25:54,-4.3167,20.5833,88.75,48,95,2.71
3,3,Iqaluit,CA,2022-04-03 10:25:54,63.7506,-68.5145,24.53,92,100,18.41
4,4,Arraial Do Cabo,BR,2022-04-03 10:25:55,-22.9661,-42.0278,75.16,94,75,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [5]:
# get the max temperture
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. assign the locations to an array of latitude an longitude pair
locations = city_data_df[["Lat", "Lng"]]
# 2. assign the weights variable to some values
max_temp = city_data_df["Max Temp"]
#3. assign th efugure variable to the gmaps.figure()attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp])
# 5. add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 1. assign the locations to an array of latitude an longitude pair
locations = city_data_df[["Lat", "Lng"]]
# 2. assign the weights variable to some values
max_temp = city_data_df["Max Temp"]
#3. assign th efugure variable to the gmaps.figure()attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 1. assign the locations to an array of latitude an longitude pair
locations = city_data_df[["Lat", "Lng"]]
# 2. assign the weights variable to some values
humidity = city_data_df["Humidity"]
#3. assign th efugure variable to the gmaps.figure()attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# 5. add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 1. assign the locations to an array of latitude an longitude pair
locations = city_data_df[["Lat", "Lng"]]
# 2. assign the weights variable to some values
clouds = city_data_df["Cloudiness"]
#3. assign th efugure variable to the gmaps.figure()attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# 5. add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 1. assign the locations to an array of latitude an longitude pair
locations = city_data_df[["Lat", "Lng"]]
# 2. assign the weights variable to some values
wind = city_data_df["Wind Speed"]
#3. assign th efugure variable to the gmaps.figure()attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# 5. add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ilebo,CD,2022-04-03 10:25:54,-4.3167,20.5833,88.75,48,95,2.71
4,4,Arraial Do Cabo,BR,2022-04-03 10:25:55,-22.9661,-42.0278,75.16,94,75,5.75
9,9,Vaini,TO,2022-04-03 10:25:56,-21.2000,-175.2000,77.16,94,20,3.44
11,11,Namatanai,PG,2022-04-03 10:25:56,-3.6667,152.4333,80.13,81,100,3.91
14,14,Butaritari,KI,2022-04-03 10:25:57,3.0707,172.7902,81.48,78,42,20.27
23,23,Atuona,PF,2022-04-03 10:26:00,-9.8000,-139.0333,79.56,70,99,19.91
27,27,Ambilobe,MG,2022-04-03 10:26:01,-13.2000,49.0500,87.42,63,47,5.39
30,30,Kavieng,PG,2022-04-03 10:26:02,-2.5744,150.7967,82.00,75,89,6.26
33,33,Bambous Virieux,MU,2022-04-03 10:26:03,-20.3428,57.7575,84.22,78,40,17.27
35,35,Impfondo,CG,2022-04-03 10:26:03,1.6381,18.0667,83.35,56,99,3.29

In [16]:
preferred_cities_df.count()

City_ID       136
City          136
Country       136
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2             Ilebo      CD     88.75  -4.3167   20.5833
4   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
9             Vaini      TO     77.16 -21.2000 -175.2000
11        Namatanai      PG     80.13  -3.6667  152.4333
14       Butaritari      KI     81.48   3.0707  172.7902
23           Atuona      PF     79.56  -9.8000 -139.0333
27         Ambilobe      MG     87.42 -13.2000   49.0500
30          Kavieng      PG     82.00  -2.5744  150.7967
33  Bambous Virieux      MU     84.22 -20.3428   57.7575
35         Impfondo      CG     83.35   1.6381   18.0667

In [18]:
# set parameters to search for a hotel
params={"radius":5000, "type":"loading", "key":g_key}

In [21]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [25]:
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng        Hotel Name
2             Ilebo      CD     88.75  -4.3167   20.5833             Ilebo
4   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278         Cabo Frio
9             Vaini      TO     77.16 -21.2000 -175.2000        Nukuhetulu
11        Namatanai      PG     80.13  -3.6667  152.4333         Namatanai
14       Butaritari      KI     81.48   3.0707  172.7902         Ukiangang
23           Atuona      PF     79.56  -9.8000 -139.0333            Atuona
27         Ambilobe      MG     87.42 -13.2000   49.0500          Ambilobe
30          Kavieng      PG     82.00  -2.5744  150.7967           Kavieng
33  Bambous Virieux      MU     84.22 -20.3428   57.7575  Vieux Grand Port
35         Impfondo      CG     83.35   1.6381   18.0667          Impfondo

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))